
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



div p{
    text-align: end;
    /* margin: 140px; */
    margin: 10px; 
    
    
}
.lorem{
    margin: 1px 120px;
    margin-top: 100px;
}


.lorem2{
    margin: 1px 120px;
    margin-top: 50px ;
}

  





.img{
    height: 700px;
    background-repeat: no-repeat;
    background-image: url("../styles/images/banner/banner2.png");
    /* background-size: 100%;
    background-position:  */
    /* background-size: 1500px; */
    background-position: 1%;
}

