
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



div p{
    text-align: end;
    /* margin: 140px; */
    margin: 10px; 
    
    
}
.lorem{
    margin: 1px 120px;
    margin-top: 100px;
}


.lorem2{
    margin: 1px 120px;
    margin-top: 50px ;
}

.button{
    background-color: #F15B22 ; 
   font-weight: bold;
   color: white;
   font-size: 20px;
   padding: 18px 35px;
   border-radius: 5px;
   border: none;
   margin: 50px 125px;


}

  





.img{
    height: 700px;
    background-repeat: no-repeat;
    background-image: url("../styles/images/banner/banner2.png");
    /* background-size: 100%;
    background-position:  */
    /* background-size: 1500px; */
    background-position: 1%;
}

.img2{
   background-position: center;
   margin: 10px 200px;
   justify-content: space-between;
  margin-top: 1px;
  justify-content: space-between;
}



/div{
    margin: 10px 200px;
}

.uli{
   margin: 1px 120px;
   text-align:end ;
   color: red;
   font-size: large;
   font-weight: bold;

}
h3{
    color: aqua
    border-radius 10px;

}    